@if (Data == null)
{
    <MatProgressCircle Indeterminate="true" FourColored="true" />
}
else
{
    <p>
        <MatTextField @bind-Value="@Data.Name" Label="Name" FullWidth="true"></MatTextField>
    </p>

    <MatTable Items="@Data.Sessions" class="mat-elevation-z5" ShowPaging="false" PageSize="10000">
        <MatTableHeader>
            <th style="width:75%">Description</th>
            <th>Instructor Led</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <MatTextField @bind-Value="@context.Description" FullWidth="true" TextArea="true"/>
            </td>
            <td>
                <MatCheckbox @bind-Value="@context.IsInstructorLed"/>
            </td>
            <td>
                <MatTextField @bind-Value="@context.StartValue" Type="time"/>
            </td>
            <td>
                <MatTextField @bind-Value="@context.EndValue" Type="time" />
            </td>
            <td>
                <MatButton Icon="delete" Command="DeleteSessionCommand" CommandParameter="@context"></MatButton>
            </td>
        </MatTableRow>
    </MatTable>

    <MatButton OnClick="AddSession">Add Session</MatButton>
}