@if (Data == null)
{
    <MatProgressCircle Indeterminate="true" FourColored="true" />
}
else
{
    <MatTable Items="@Data" class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="true" PageSize="10000">
        <MatTableHeader>
            <MatSortHeaderRow SortChanged="@SortData">
                <MatSortHeader></MatSortHeader>
                <MatSortHeader SortId="name"><span style="width:300px">Name</span></MatSortHeader>
                <MatSortHeader SortId="name">Email</MatSortHeader>
                <MatSortHeader SortId="name">Students</MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <EntityActionCommandBar EditCommand="EditCommand" DeleteCommand="DeleteCommand" Id="@context.Id"/>
            </td>
            <td>@context.Name</td>
            <td>@context.Email</td>
            <td>@GetStudentDisplay(context)</td>
        </MatTableRow>
    </MatTable>
}