@if (Data == null)
{
    <MatProgressCircle Indeterminate="true" FourColored="true" />
}
else
{
<p>
    <MatTextField @bind-Value="@Data.Name" Label="Name" FullWidth="true"></MatTextField>
    <MatTextField @bind-Value="@Data.Email" Label="Email" FullWidth="true"></MatTextField>


    <h5 class="mat-h5">Students</h5>

    @foreach (var item in Data.Students)
    {
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                    <MatTextField @bind-Value="@item.Name" Label="Name" FullWidth="true"></MatTextField>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                    <MatSelectValue @bind-Value="@item.InstructorId" Items="AvailableInstructors" ValueSelector="@(i=>i.Id)">
                        <ItemTemplate>
                            @context.LastName
                        </ItemTemplate>
                    </MatSelectValue>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatButton Icon="delete" Command="DeleteStudentCommand" CommandParameter="@item"></MatButton>
                </div>
            </div>
        </div>
    }
    <br/>
    <MatButton Raised="true" OnClick="AddStudent">Add Student</MatButton>

</p>
}